body {
  background-color: transparent;
}

#root {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

main > * + * {
  margin-top: 2rem;
}

.top-container {
  align-items: center;
}

.top-area {
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 10rem;
  margin-bottom: -10rem;
  border-radius: 0 0 2rem 2rem;
  text-align: center;
  gap: 2rem;
}

.title-section {
  padding-block: 1rem;
  padding-inline: clamp(1.5rem, 14vw - 19px, 6rem);
  border-radius: 0 0 1rem 1rem;
  gap: 2rem;
}
.title-section h1 {
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -5%;
}

.entry-section {
  margin-inline: clamp(1.5rem, 14vw - 19px, 6rem);
  margin-block: 1rem;
  padding: 2rem;
  box-shadow: 15px 15px 25px rgba(225, 239, 254, 0.25);
}

.grad-bg {
  background: linear-gradient(to right, rgba(214, 252, 254, 0), rgb(214, 230, 254));
}

.welcome-card, .result-card {
  background-color: var(--color-blue-500);
  border-radius: 1rem;
  color: white;
  padding: 2rem;
}
.welcome-card > * + *, .result-card > * + * {
  margin-top: 1rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.input-wrapper input {
  flex: 1;
  padding: 0.5rem;
  border: 1pt solid var(--color-gray-500);
  border-radius: 0.5rem;
  width: 100%;
}
.input-wrapper span {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-blue-700);
}

.result-means > img {
  object-fit: contain;
  border-radius: 2rem;
}
.result-means h2, .result-means p {
  margin: 1rem;
  padding: 1rem;
}
.result-means > * {
  margin-block: 1rem;
}

.recommendation-section {
  margin-block: 2rem;
  padding: 2rem;
}

.limitation-section {
  margin-inline: clamp(1.5rem, 14vw - 19px, 6rem);
  margin-block: 2rem;
}
.limitation-section .limitation-caption {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.limitation-section .limitation-card {
  padding: 1rem;
  box-shadow: 15px 15px 25px rgba(225, 239, 254, 0.25);
}

input:focus, input:hover {
  cursor: pointer;
}

input[type=text]:hover, input[type=text]:focus {
  border-color: var(--color-blue-500);
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: transparent;
  position: relative;
}

input[type=radio]:checked {
  border: none;
  background-color: var(--color-blue-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=radio]:checked::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-blue-500);
}

input[type=radio]:hover, input[type=radio]:focus {
  border-color: var(--color-blue-500);
}

@media only screen and (min-width: 40rem) {
  .metric-form {
    flex-direction: row;
    gap: 1rem;
  }
  .metric-form > * {
    flex: 1;
  }
  .result-card, .welcome-card {
    border-top-right-radius: calc(infinity * 1px);
    border-bottom-right-radius: calc(infinity * 1px);
  }
  .result-card > p {
    width: 50%;
  }
  .result-means {
    gap: 4rem;
    margin-left: -5rem;
  }
  .result-means > img {
    width: 50%;
  }
  .result-means > div {
    flex: 1;
  }
  .limitation-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  .limitation-section > p {
    margin-bottom: 4.5rem;
  }
  .limitation-section .limitation-card {
    width: calc(50% - 0.5rem);
  }
}
@media only screen and (min-width: 64rem) {
  main {
    position: relative;
  }
  .top-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .top-container .top-area {
    flex: 1 1 50%;
    margin-left: clamp(1.5rem, 14vw - 19px, 6rem);
    padding-right: 10%;
    text-align: left;
    border-radius: 0 0rem 2rem 0;
    padding-block: 5.5rem;
  }
  .top-container .top-area img {
    margin-top: 2rem;
  }
  .top-container .entry-section {
    flex: 1 1 50%;
    margin-left: calc(clamp(1.5rem, 14vw - 19px, 6rem) * -1);
    margin-right: clamp(1.5rem, 14vw - 19px, 6rem);
  }
  .title-section {
    padding: 0;
    align-items: start;
    gap: 2rem;
    padding-block: 4.5rem;
  }
  .title-section h1 {
    font-size: 64px;
    letter-spacing: normal;
  }
  .result-means {
    margin-left: 0;
    margin-top: 10rem;
  }
  .recommendation-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 2rem 2rem 0;
  }
  .limitation-section div:first-child {
    width: 60%;
  }
  .limitation-section .limitation-card {
    width: 35%;
  }
  .limitation-section .curved-pattern {
    display: block;
    margin-inline: 3rem;
    align-self: start;
    margin-top: -1rem;
  }
}/*# sourceMappingURL=App.css.map */